/*Login Button*/

#login-dropdown-list{
  position: relative !important;
}

#login-buttons a, .accounts-dialog a {
  color: black !important;
}

/*Sticky Footer*/

html, #body {height: 100%;}

.wrapper-main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

/*Side Nav Styles*/


ul#slide-out{
  #first-menu{
     margin-top: 100px;
    }
    .side-menu{
      margin-bottom: 30px;
    }
}
