/*Login Button*/

#login{
  margin-right: 30px;
  #login-dropdown-list{
    position: relative !important;
  }
  #login-sign-in-link{

  }
}

/*Sticky Footer*/

html, #body {height: 100%;}

.wrapper-main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
